.header-bg {
  background: palette('red');
}

header {
  display: flex;
  max-width: 62.5em;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 3em;
  margin: 0 auto;

  .logo {
    display: block;
    width: 4.7em;
    margin: 0 auto;
    text-transform: lowercase;
    text-align: right;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 0.7;
    letter-spacing: -2.2px;
    color: palette('white');
    font-size: 2.15em;
    padding-bottom: 0.5em;

    i {
      text-align: left;
      display: block;
      letter-spacing: -4.3px;
    }
  }

  .main-nav {
    button {
      text-indent: -999em;
      position: absolute;
      display: block;
      width: 1em;
      height: 0.3em;
      border: none;
      left: 1.2em;
      top: 5.7em;
      z-index: 2;
      background: palette('white');

      &::before,
      &::after {
        background: palette('white');
        content: '';
        display: block;
        width: 2em;
        height: 0.3em;
        position: absolute;
        top: -8px;
        left: 0;
      }

      &::after {
        top: auto;
        bottom: -8px;
      }

      @media screen and (min-width: breakpoint('desktop')) {
        display: none;
      }
    }

    font-family: 'Roboto Mono', monospace;
    text-align: center;

    a {
      color: palette('white');
      text-decoration: none;
      font-size: 1.6em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    position: absolute;
    top: -300%;
    transition: top .3s;
    width: 100%;
    background: palette('red', 'opacity');



    @media screen and (min-width: breakpoint('desktop')) {
      flex-direction: row;
      position: relative;
    }

    &.active {
      top: 0;
    }

    li {
      display: inline-block;

      @media screen and (min-width: breakpoint('desktop')) {
        margin: 0 1em;
      }

      a:link {
        text-decoration: none;

        @media screen and (min-width: breakpoint('desktop')) {
          font-size: 1.188em;
        }
      }
    }
  }

  .setubal-logo {
    display: none;

    @media screen and (min-width: breakpoint('desktop')) {
      background-image: url('../assets/images/logo-tide-setubal.svg');
      background-repeat: no-repeat;
      display: block;
      height: 3.75em;
      text-indent: -999em;
      position: absolute;
      right: 3em;
      top: 3em;
      width: 6.563em;
    }
  }
}

