<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link rel="icon" href="/favicon.ico">
    <title>tide</title>

    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow page-title--no-margin-bottom">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>

      <div class="bg-light-gray">
        <div class="container">
          <form action="" method="post" id="js-chart-form" class="chart-form">
            <div class="chart-form__group">
              <label for="grade">
                Série
                <select name="grade" id="grade">
                  <option value="5">5</option>
                  <option value="9">9</option>
                </select>
              </label>
              <label for="x">
                Filtrar por
                <select name="xAxis" id="xAxis">
                  <option value="racial">Raça</option>
                  <option value="sex">Gênero (Meninas - Meninos)</option>
                  <option value="nse">Nível Sócio Econômico</option>
                </select>
              </label>
              <div class="chart-form__buttons">
                <button type="submit" class="button">Filtrar</button>
              </div>
            </div>
            <div class="js-form-filter chart-form__group">
              <span class="chart-form__clue">
                Escolha uma das opções abaixo para destacar no gráfico:
              </span>
              <label for="highlight">
                Destacar Cidades
                <select name="highlight" id="highlight">
                  <option value="none">Nenhuma</option>
                  <option value="big-cities">Cidades Grandes</option>
                  <option value="capital">Capitais</option>
                </select>
              </label>
              <label for="region">
                Destacar Região Brasileira
                <select name="region" id="region">
                  <option value="">Nenhuma</option>
                  <option value="1">Centro Oeste</option>
                  <option value="2">Nordeste</option>
                  <option value="3">Norte</option>
                  <option value="4">Sudeste</option>
                  <option value="5">Sul</option>
                </select>
              </label>
              <label for="city">
                Destacar por Estado
                <select id="state" name="state">
                  <option value="">Estados</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </select>
              </label>
              <label for="city">
                Município
                <input id="city" type="text" placeholder="Ex. São Paulo" />
              </label>
              <span class="js-no-matches chart-form__alert" hidden>Nenhum dado encontrado para essa cidade!</span>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="charts">
          <section class="chart">
            <div class="chart__header">
              <h1>Português</h1>
              <div class="chart__buttons">
                <button class="js-download-pt-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-pt-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-pt-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="pt-chart"></div>
            <div class="js-pt-table chart__table">
              <h2></h2>
              <h3>Português (2007 a 2015)</h3>
              <table>
                <tbody>
                  <tr>
                    <td>Nível de aprendizado:</td>
                    <td class="js-yAxis"></td>
                  </tr>
                  <tr>
                    <td>Faixa do nível de aprendizado:</td>
                    <td class="js-quality"></td>
                  </tr>
                  <tr>
                    <td>Nível de desigualdade:</td>
                    <td class="js-xAxis"></td>
                  </tr>
                  <tr>
                    <td>Faixa de nível de desigualdade:</td>
                    <td class="js-inequality"></td>
                  </tr>
                  <tr>
                    <td>Número de alunos total</td>
                    <td class="js-total-students"></td>
                  </tr>
                  <tr>
                    <td class="js-unprivileged-title"></td>
                    <td class="js-unprivileged-value"></td>
                  </tr>
                  <tr>
                    <td class="js-privileged-title"></td>
                    <td class="js-privileged-value"></td>
                  </tr>
                </tbody>
              </table>
              <h4>Tabela cruzada: qualidade x desigualdade</h4>
              <table class="js-pt-crossed-table">
                <thead>
                  <tr>
                    <th>Nível KL</th>
                    <th>Limite Inferior</th>
                    <th>Limite superior</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="js-baixa">
                    <td>Baixa</td>
                    <td>0</td>
                    <td>2</td>
                  </tr>
                  <tr class="js-médio-baixa">
                    <td>Médio-baixa</td>
                    <td>2</td>
                    <td>2,9</td>
                  </tr>
                  <tr class="js-média">
                    <td>Média</td>
                    <td>2,9</td>
                    <td>3,8</td>
                  </tr>
                  <tr class="js-médio-alta">
                    <td>Médio-alta</td>
                    <td>3,8</td>
                    <td>4,8</td>
                  </tr>
                  <tr class="js-alta">
                    <td>Alta</td>
                    <td>4,8</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="chart">
            <div class="chart__header">
              <h1>Matemática</h1>
              <div class="chart__buttons">
                <button class="js-download-mat-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-mat-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-mat-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="mat-chart"></div>
            <div class="js-mat-table chart__table">
              <h2></h2>
              <h3>Matemática (2007 a 2015)</h3>
              <table>
                <tbody>
                  <tr>
                    <td>Nível de aprendizado:</td>
                    <td class="js-yAxis"></td>
                  </tr>
                  <tr>
                    <td>Faixa do nível de aprendizado:</td>
                    <td class="js-quality"></td>
                  </tr>
                  <tr>
                    <td>Nível de desigualdade:</td>
                    <td class="js-xAxis"></td>
                  </tr>
                  <tr>
                    <td>Faixa de nível de desigualdade:</td>
                    <td class="js-inequality"></td>
                  </tr>
                  <tr>
                    <td>Número de alunos total</td>
                    <td class="js-total-students"></td>
                  </tr>
                  <tr>
                    <td class="js-unprivileged-title"></td>
                    <td class="js-unprivileged-value"></td>
                  </tr>
                  <tr>
                    <td class="js-privileged-title"></td>
                    <td class="js-privileged-value"></td>
                  </tr>
                </tbody>
              </table>
              <h4>Tabela cruzada: qualidade x desigualdade</h4>
              <table class="js-mat-crossed-table">
                <thead>
                  <tr>
                    <th>Nível KL</th>
                    <th>Limite Inferior</th>
                    <th>Limite superior</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="js-baixa">
                    <td>Baixa</td>
                    <td>0</td>
                    <td>2</td>
                  </tr>
                  <tr class="js-médio-baixa">
                    <td>Médio-baixa</td>
                    <td>2</td>
                    <td>2,9</td>
                  </tr>
                  <tr class="js-média">
                    <td>Média</td>
                    <td>2,9</td>
                    <td>3,8</td>
                  </tr>
                  <tr class="js-médio-alta">
                    <td>Médio-alta</td>
                    <td>3,8</td>
                    <td>4,8</td>
                  </tr>
                  <tr class="js-alta">
                    <td>Alta</td>
                    <td>4,8</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <div class="js-helper-text charts__helper" hidden>
            <h3>O QUE ISSO SIGNIFICA?</h3>
            <p>
              O município de <span class="js-city"></span>, localizado no estado de <span class="js-uf"></span>,
              possui <span class="js-inhabitants"></span> habitantes, de acordo com a estimativa populacional do IBGE
              de 2018. Segundo os dados do Indicador de Desigualdades Educacionais, a qualidade de aprendizado é
              <span class="js-pt-quality"></span>  para português e <span class="js-mat-quality"></span> para matemática.
              Em relação à desigualdade medida segundo <span class="js-xAxis"></span>, podemos afirmar que ela tem
              <span class="js-pt-inequality"></span> para língua portuguesa e <span class="js-mat-inequality"></span>
              para matemática.
            </p>
          </div>
        </div>
      </div>


      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

      {{ $jsChart := resources.Get "assets/scripts/chart/index.js" }}
      {{ $secureJS := $jsChart | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>


      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script> -->

      <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
      <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.base.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.theme.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.min.js"></script>

      <script type="text/javascript">
      </script>

    </body>
</html>
