    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow page-title--no-icon">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>


      <div class="container">
        <ul class="tags tags--orange">
          <li>
            <a class="shadow {{ if eq .Page.RelPermalink "/pesquisas/" }} active {{ end }}" href="/pesquisas">
              Todas
            </a>
          </li>
          {{ range $name, $taxonomy := .Site.Taxonomies.areas }}
              <li><a class="shadow" href="/areas/{{ $name | urlize }}">{{ $name | humanize }}</a></li>
          {{ end }}
        </ul>
      </div>

      <div class="container">
        <div class="posts">

          {{ range .Data.Pages }}
            <section class="posts__post">
              <h3 class="posts__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

              <!-- Save post title for use in image alt -->
              {{ $title := .Title }}

              <div class="posts__text">
                <p>{{ .Params.short_description }}</p>
              </div>

              {{ with .Params.custom_link }}
                <a href="{{ . }}" class="button button--black">saiba mais</a>
              {{ else }}
                <a href="{{ .Permalink }}" class="button button--black">saiba mais</a>
              {{ end }}
            </section>
          {{ end }}
        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
