<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>tide</title>

    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--blue-light page-title--no-icon">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>


      <div class="container container--small">
        <ul class="tags">
          <!-- Set tags limit for loop -->

          <li>
            <a class="shadow {{ if eq .Page.RelPermalink "/novidades/" }} active {{ end }}" href="/novidades">
              todas
            </a>
          </li>

          <!--
            Here we loop over all taxonomies from the site and from the item,
            and "humanize" them, if they match we set an active class to the list
            also we set a variable to be the tags length limit and compare it with the
            array length before printing anything
          -->
          {{- $.Scratch.Set "myLimit" 0 }}
          {{ range $name, $taxonomy := .Site.Taxonomies.areas }}
            {{- $.Scratch.Set "myLimit" (add ($.Scratch.Get "myLimit") 1) }}
            {{- if le ($.Scratch.Get "myLimit") (6) }}
              <li><a class="shadow
                    {{ range $area := $.Params.areas }}
                      {{ if eq ($area | humanize) ($name | humanize) }}
                        active
                      {{ end }}
                    {{ end }}
                    "
                    href="/areas/{{ $name | urlize }}">{{ $name | humanize }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>

      <!--
        here we get the current post "index" by looping through all posts, reversing it's order
        and checking if the post is the one being showed, if it is we set assing it to the currentItem
        variable and add one 'cause the range index is zero base
      -->
      {{ range $index, $element := (where .Site.RegularPages "Type" "novidades" ).Reverse }}
        {{ if eq . $ }}
          {{- $.Scratch.Set "currentItem" (add $index 1) }}
        {{ end }}
      {{end}}

      <div class="container container--small">

        <div class="posts posts--details">
            <section class="posts__post">

              <!-- Save post title for use in image alt -->
              {{ $title := .Title }}

              <div class="posts__text">
                <p>{{ .Params.short_description }}</p>
                <a href="{{ .Params.file }}" target="_blank" class="simple-link">Ler pesquisa</a>
              </div>

              {{ .Content }}

              <a href="{{ .Params.file }}" target="_blank" class="button button--black">ler experiência</a>
            </section>
        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
