.bg-red {
  background: palette('red');
}

.hero-main {
  position: relative;
  margin-bottom: -9em;
  background: palette('red');

  @media screen and (min-width: breakpoint('desktop')) {
    // @include container;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-main__text {
    @include container;
    padding: 0 2.6em;
    color: palette('white');
    font-family: 'Roboto', monospace;

    @media screen and (min-width: breakpoint('desktop')) {
      margin: 0;
      max-width: 600px;
      text-align: right;
      padding-right: 2em;
    }

    h1 {
      min-height: 5.5em;
      margin: 0;
      padding: 1em 0;
      text-align: center;
      color: inherit;
      line-height: 1.2;
      font-family: inherit;

      @media screen and (min-width: breakpoint('desktop')) {
        text-align: inherit;
        font-size: ms(3);
        line-height: 1;
        padding-bottom: 10px;
      }
    }

    p {
      display: none;
      // font-family: inherit;

      @media screen and (min-width: breakpoint('desktop')) {
        margin-top: 10px;
        display: inline-block;
        font-size: ms(0);
        width: 21.25em;
      }
    }
  }

  .dots {
    position: absolute;
    top: 0;
    width: 20em;
    left: calc(50% - 10em);
    height: 100%;
    pointer-events: none;

      @media screen and (min-width: breakpoint('desktop')) {
        width: 100%;
        left: 0;
      }

    .dots__dot {
      width: 0.4em;
      height: 0.4em;
      border-radius: 50%;
      background: palette('white');
      display: block;
      position: absolute;
      left: 8.8em;
      top: 6.8em;


      @media screen and (min-width: breakpoint('desktop')) {
        width: 0.8em;
        height: 0.8em;
        left: 28.8em;
        top: -0.7em;
        z-index: 4;
      }

      @media screen and (min-width: breakpoint('wide')) {
        top: -2.1em;
      }
  }

    .dots__dot:nth-child(2) {
      width: 0.55em;
      height: 0.55em;
      left: 4.7em;
      top: 10.7em;

      @media screen and (min-width: breakpoint('desktop')) {
        width: 1em;
        height: 1em;
        left: 17.4em;
        top: 2.6em;
      }
    }

    .dots__dot:nth-child(3) {
      width: 0.3em;
      height: 0.3em;
      left: 2.3em;
      top: 13.2em;

      @media screen and (min-width: breakpoint('desktop')) {
        width: 0.55em;
        height: 0.55em;
        left: 12.6em;
        top: 7.9em;
      }
    }

    .dots__dot:nth-child(4) {
      width: 0.35em;
      height: 0.35em;
      left: 10.6em;
      top: 13.1em;

      @media screen and (min-width: breakpoint('desktop')) {
        width: 0.6em;
        height: 0.6em;
        left: 0.9em;
        top: 23.1em;
      }
    }

    .dots__dot:nth-child(5) {
      display: none;
      width: 1.1em;
      height: 1.1em;
      left: 33.2em;
      top: 12.1em;

      @media screen and (min-width: breakpoint('desktop')) {
        display: block;
        left: 33.2em;
      }

      @media screen and (min-width: breakpoint('wide')) {
        left: 40.2em;
      }
    }

    .dots__dot:nth-child(6) {
      display: none;
      width: 1.3em;
      height: 1.3em;
      left: 45.2em;
      top: 19em;

      @media screen and (min-width: breakpoint('desktop')) {
        display: block;
      }

      @media screen and (min-width: breakpoint('wide')) {
        top: 17.1em;
      }
    }

    .dots__dot:nth-child(7) {
      display: none;
      width: 1.3em;
      height: 1.3em;
      left: auto;
      right: 3em;
      top: 46.1em;

      @media screen and (min-width: breakpoint('wide')) {
        display: block;
      }
    }
  }
}

.hero-main__images {
  @include container;
  width: 20em;
  position: relative;
  height: 17em;

  @media screen and (min-width: breakpoint('desktop')) {
    margin-left: 0;
    margin-top: 60px;
    max-width: auto;
    width: 700px;
    height: 570px;
  }


  .trophy {
    width: 5.56em;
    position: absolute;
    bottom: 5.375em;

    @media screen and (min-width: breakpoint('desktop')) {
      width: 177px;
      bottom: 188px;
      left: 100px;
    }
  }

  .books-girl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}
