.overflow {
  overflow: hidden;
}

.bg-yellow {
  background: palette('yellow');
  // overflow-y: visible;
}

.wave-yellow {
  width: 100%;
  margin-top: -175px;
  position: relative;
}

.hero-secondary {
  position: relative;
  padding-bottom: 9em;
  width: 320px;
  margin: 0 auto;
  display: flex;
  // overflow-x: hidden;

  @media screen and (min-width: breakpoint('desktop')) {
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3em;
  }

  .hero-secondary__text {
    @include container;
    padding: 0 1.8em;
    padding-right: 0.3em;

    @media screen and (min-width: breakpoint('desktop')) {
      max-width: 368px;
      margin-left: 80px;
    }

    h2 {
      font-size: 4.5em;
      padding: 0;
      margin: 0;
      color: palette('purple');
      text-shadow: 1px 0 1px palette('red'), -1px 1px 0 palette('green');

      @media screen and (min-width: breakpoint('desktop')) {
        font-size: 7.844em;
      }
    }

    p {
      font-size: 0.875em;

      @media screen and (min-width: breakpoint('desktop')) {
        font-size: 1.125em;
      }
    }
  }



  .hero-secondary__images {
    min-width: 122px;

    @media screen and (min-width: breakpoint('desktop')) {
      position: relative;
    }

    .mug {
      position: absolute;
      width: 145px;
      height: 263px;
      right: -35px;
      bottom: 0;

      @media screen and (min-width: breakpoint('desktop')) {
        bottom: 0;
        right: 0;
        height: 510px;
        width: 284px;
      }
    }

    .lader-boy {
      position: absolute;
      width: 172px;
      height: 528px;
      right: 0;
      bottom: 150px;
    }
  }
}
