    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--no-margin-bottom">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>
      <div class="container">
        <div class="tabs">
          <div class="tabs__controller">
            {{ range $index, $value := .Data.Pages }}
              <a href="#{{ .UniqueID }}"
                {{ if (eq $index 0) }}class="active"{{ end }}>
                {{ .Title }}
              </a>
            {{ end }}
          </div>

          <div class="tabs__content">

          {{ range $index, $value := .Data.Pages }}
              <div
                id="{{ .UniqueID }}"
                {{ if (eq $index 0) }}class="visible"{{ end }}>
                <div class="text-content">
                  {{ .Content }}
                </div>
                {{ with .Params.file }}
                  <a href="{{ . }}" class="button button--black">Baixar pdf</a>
                {{ end }}
              </div>
          {{ end }}
          </div>

        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
