.button {
  padding: 0.7em 0.9em;

  font-size: ms(1);
  font-family: $roboto-font-stack;
  text-decoration: none;

  background: transparent;

  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  border-radius: 24px;
}

.button--black {
  color: palette('black', 'lighter');

  border-color: palette('black', 'lighter');
}

.button--white {
  color: palette('white');

  border-color: palette('white');
}

.button--dark-blue {
  color: palette('blue', 'x-dark');

  border-color: palette('blue', 'x-dark');
}

.button--arrow-icon {
  position: relative;
  display: block;
  padding: 0 2.5rem 0 0 ;
  margin-left: auto;
  font-weight: bold;
  font-size: ms(5);
  color: palette('blue', 'dark');
  background: transparent;
  border: 0;

  &::before {
    position: absolute;
    top: 38%;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 7.5px solid palette('blue', 'dark');
    content: '';
  }

  &::after {
    position: absolute;
    top: 53%;
    right: 0.325rem;
    display: block;
    width: 1.875rem;
    height: 0.125rem;
    background: palette('blue', 'dark');
    content: '';
  }
}
