.button {
  background: transparent;
  border-radius: 24px;
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
  padding: 0.5em 1em;
  font-family: $roboto-font-stack;
  font-size: ms(0);
}

.button--black {
  color: palette('black', 'lighter');
  border-color: palette('black', 'lighter');
}

.button-white {
  color: palette('white');
  border-color: palette('white');
}

.button-dark-blue {
  color: palette('blue', 'dark');
  border-color: palette('blue', 'dark');
}

