.bg-light-gray {
  padding-top: 3rem;
  background: palette('gray', 'x-light');
}

.charts {
  margin-bottom: 5rem;
}

.chart-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


.chart-form__group {
  width: 100%;

  @media screen and (min-width: breakpoint('tablet')) {
    width: 50%;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    width: 33.3%;
  }
}

.chart-form__group--inline {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    flex-wrap: wrap;
    width: 33.3%;
  }
}

.chart-form label[for='grade'] {
  width: 20%;
  margin-right: 2%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 2.3em;
  }
}

.chart-form label[for='city'] {
  width: 75%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
    padding-right: 1em;
  }
}

.chart-form label {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: ms(-1);
  text-transform: uppercase;
}

.chart-form .awesomplete {
  display: block;
  width: 85%;
  margin-bottom: 0;
}

.chart-form .awesomplete > ul > li {
  margin-bottom: 0;
}

.chart-form select {
  width: 100%;
  padding: 0.8em 0;
  font-size: ms(0);
  background-image: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
  background-position: 95% 50%;
  background-color: transparent;
  border: 0;
  appearance: none;
}
