.charts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.chart {
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 50%;
    padding: 0 2rem;
  }
}

.chart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chart__button {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 0.8em;
  text-indent: -999em;
  background-position: center;
  background-color: transparent;
  border: 0;
}

.chart__button--download {
  background-image: image('download.svg');
  background-size: 60%;
  border: 2px solid palette('purple');
  border-radius: 10px;
}

.chart__button--expand {
  display: none;
  background-image: image('expand.svg');

  @media screen and (min-width: breakpoint('desktop')) {
    display: inline-block;
  }
}

.chart__button--shrink {
  display: none;
  background-image: image('shrink.svg');
}

.chart__header h1 {
  font-weight: 300;
}

.chart__main {
  width: 100%;
  min-height: 25em;

  @media screen and (min-width: breakpoint('desktop')) {
    height: 21.875em;
  }
}

.chart__table {
  width: 100%;
}

.chart__table h2 {
  font-weight: 300;
  color: palette('purple');
  border-bottom: 1px solid palette('gray');
}

.chart:nth-child(2) .chart__table h2 {
  @media screen and (min-width: breakpoint('desktop')) {
    display: none;
  }
}

.chart:nth-child(2) .chart__table {
  @media screen and (min-width: breakpoint('desktop')) {
    padding-top: 1.32rem;
    margin-top: 3.4rem;
    border-top: 1px solid palette('gray');
  }
}

.chart__table td:nth-child(2n) {
  text-align: right;
}
