.bg-light-gray {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: palette('gray', 'x-light');
}

.bg-yellow-simple {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: palette('yellow');
}

.charts {
  margin-bottom: 5rem;
}

.charts__helper {
  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 40rem;
    padding: 0 2rem;
  }
}

.chart-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.chart-form__range {
  width: 100%;
}

.chart-form__range-values {
  display: flex;
  justify-content: space-between;
  color: palette('black');
}

.chart-form__advanced-filters {
  // max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.6s;
}

.chart-form__advanced-filters--active {
  max-height: 45rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.chart-form__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}

.chart-form__group--half {
  width: 100%;
  margin-bottom: 2rem;

  @media screen and (min-width: breakpoint('tablet')) {
    width: 50%;
  }
}

.chart-form__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.chart-form__buttons input[type='radio'] {
  display: none;
}

.chart-form__buttons li {
  padding-bottom: 0;
  margin: 0 0.2rem;
  list-style-type: none;
  border-bottom: 0;

  &:first-child {
    margin-left: 0;
  }
}

.chart-form__buttons li label {
  width: auto;
  min-width: max-content;
  padding: 0.2em 1.1em;
  text-transform: none;
  cursor: pointer;
  color: palette('purple');
  background: palette('gray', 'light');
  border-radius: 20px;
}

.chart-form__buttons li input:checked + label {
  color: palette('white');
  background: palette('purple');
}

.chart-form .noUi-connects {
  width: 80%;
}

.chart-form .noUi-horizontal {
  height: 0.5rem;
}

.chart-form .noUi-horizontal .noUi-handle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  &::before,
  &::after {
    display: none;
  }
}

.chart-form .noUi-connect {
  background: palette('red');
}

.chart-form .noUi-connects {
  width: 100%;
  margin: 0 0.188rem;
}

.chart-form__tutorial-link:link,
.chart-form__tutorial-link:visited {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  text-decoration: underline;
  vertical-align: middle;
  color: palette('black');

  &::before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5em;
    background: image('youtube-icon.svg');
    content: '';
  }
}

.chart-form__group--inline {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    flex-wrap: wrap;
    width: calc(50% - 2rem);
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid palette('gray');
  }
}

.chart-form__clue {
  display: block;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: ms(1);
  color: palette('purple');
}

.chart-form__group strong {
  display: inline-block;
  margin-bottom: 1rem;
}

.chart-form__clear-section {
  display: inline-block;
  align-self: flex-start;
  text-decoration: underline;
  cursor: pointer;
  color: palette('purple');
  background: none;
  border: 0;
}

.chart-form label[for='grade'] {
  width: 20%;
  margin-right: 2%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
  }
}

.chart-form label[for='x'] {
  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
  }
}

.chart-form label[for='city'] {
  width: 75%;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 48%;
  }
}

.chart-form label {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: ms(-1);
  text-transform: uppercase;

  @media screen and (min-width: breakpoint('desktop')) {
    width: 48%;
  }
}

.chart-form .awesomplete {
  display: block;
  width: 85%;
  margin-bottom: 0;
}

.chart-form .awesomplete > ul > li {
  margin-bottom: 0;
}

.chart-form .awesomplete input {
  margin-bottom: 0.8em;
}

.chart-form select,
.chart-form input[type='text'] {
  width: 100%;
  padding: 0.5em 0.8em;
  font-size: ms(0);
  background-color: palette('white');
  border: 1px solid palette('gray');
  border-radius: 10px;
  appearance: none;
}

.chart-form select {
  background-image: url('data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==');
  background-position: 95% 50%;
}

.chart-form__submit {
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
  margin-left: auto;
}

.chart-form__alert {
  width: 85%;
  padding: 0.8em 1em 0.8em 2.3em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: ms(-1);
  line-height: 1;
  background-image: image('warning.svg');
  background-position: 1.5% 50%;
  background-size: 1.5em;
  background-repeat: no-repeat;
  border: 1px solid palette('yellow');
  border-radius: 5px;

  &:not([hidden]) {
    display: block;
  }
}
