.custom-research__section {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid palette('gray');
}

.custom-research__last-button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.custom-research__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
