.bg-blue {
  position: relative;
  // background: image('wave-blue.svg');
  background: palette('blue');

  &:before {
    position: absolute;
    top: -14em;
    right: 0;
    width: 100%;
    height: 16em;
    background-image: image('wave-blue.svg');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
  }
}

.hero-water {
  @include container;
  position: relative;

  display: flex;

  padding-bottom: 13em;

  @media screen and (min-width: breakpoint('desktop')) {
    width: auto;
    max-width: 93.75em;

    padding-top: 3em;
    margin: 0 auto;
  }

}

.hero-water__text {
  max-width: 8.875em;

  // @media screen and (min-width: breakpoint('desktop')) {
  //   max-width: 23em;
  //   margin-left: 5em;
  // }

  h3 {
    padding: 0;
    margin: 0 0 0.5em;

    font-size: ms(13);
    line-height: 0.8;
    letter-spacing: -1.65px;

    text-shadow: 1px -1px 0 palette('blue', 'light'), -1px 1px 0 palette('yellow');

    vertical-align: middle;
    color: palette('blue', 'dark');

    @media screen and (min-width: breakpoint('desktop')) {
      font-size: ms(-5);
    }

    span {
      font-size: ms(-4);
      // display: block;
    }
  }

  p {
    font-size: ms(0);

    color: palette('black', 'lighter');

    @media screen and (min-width: breakpoint('desktop')) {
      font-size: ms(1);
    }
  }
}

.hero-water__images {
  position: absolute;
  top: 190px;
  right: -1.875em;
  width: 11.875em;
  height: 25em;

  @media screen and (min-width: breakpoint('desktop')) {
    position: relative;

    min-width: 17.75em;

    margin-bottom: -6.25em;
    margin-left: 16.875em;
  }
}

.hero-water__images .boat {
  position: absolute;
  right: -8.75em;
  bottom: 0;
  width: 25em;
}

.hero-water__images .book2 {
  display: none;
}

.wave-blue {
  position: relative;

  width: 100%;

  margin-top: -8.125em;

  @media screen and (min-width: breakpoint('desktop')) {
    margin-top: -10em;
  }
}
