.overflow {
  overflow: hidden;
  @media screen and (min-width: breakpoint('desktop')) {
    overflow: visible;
  }
}

.bg-yellow {
  position: relative;
  background: palette('yellow');

  @media screen and (min-width: breakpoint('desktop')) {
    padding-top: 5em;
    padding-bottom: 3em;
  }

  &::before {
    position: absolute;
    top: -8.75em;
    display: block;
    width: 100%;
    height: 8.75em;
    background-image: image('wave-yellow.svg');
    content: ' ';

    @media screen and (min-width: breakpoint('desktop')) {
      top: -27.2em;
      height: 27.2em;
      background-size: cover;
    }
  }
}

.hero-secondary {
  @include container;
  position: relative;

  display: flex;

  width: 20em;

  padding-bottom: 11em;

  @media screen and (min-width: breakpoint('desktop')) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    width: auto;
    max-width: 93.75em;

    padding-top: 4em;
  }

  .hero-secondary__text {
    min-width: 180px;
    padding-right: 0.3em;

    @media screen and (min-width: breakpoint('desktop')) {
      max-width: 25em;
      padding-right: 1.2em;
      margin-top: -14em;
      margin-bottom: 10em;
      margin-left: 5em;
    }

    h2 {
      padding: 0;
      margin: 0;

      font-size: ms(13);

      text-shadow: 1px 0 1px palette('red'), -1px 1px 0 palette('green');

      color: palette('purple');

      @media screen and (min-width: breakpoint('desktop')) {
        font-size: ms(16);
      }
    }

    p {
      font-size: ms(0);

      @media screen and (min-width: breakpoint('desktop')) {
        font-size: ms(1);
      }
    }
  }

  .hero-secondary__images {
    min-width: 7.625em;

    @media screen and (min-width: breakpoint('desktop')) {
      position: relative;

      min-width: 17.75em;

      margin-bottom: -4.25em;
      margin-left: 16.875em;
    }

    .mug {
      position: absolute;
      right: -2.188em;
      bottom: 0.6em;

      width: 9.062em;
      height: 16.438em;

      @media screen and (min-width: breakpoint('desktop')) {
        right: 0;
        bottom: -1em;

        width: 17.75em;
        height: 31.875em;
      }
    }

    .lader-boy {
      position: absolute;
      right: 0;
      bottom: 10em;

      width: 10.75em;
      height: 33em;

      @media screen and (min-width: breakpoint('desktop')) {
        right: 5em;
        bottom: 19em;

        width: 13.875em;
        height: 36.125em;
      }
    }
  }
}

.wave-green {
  position: relative;
  display: none;

  width: 100%;

  margin-top: -8em;
}
