.home-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 25rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
  overflow: hidden;
  font-family: $roboto-font-stack;

  @media screen and (min-width: breakpoint('tablet')) {
    flex-wrap: wrap;
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
}

.home-block header {
  width: 100%;
}

.home-block h1,
.home-block-inspire h1 {
  font-size: ms(7);
  text-shadow: 0 -1px 0 palette('green'), 0 1px 0 palette('red');
  color: palette('purple');

  @media screen and (min-width: breakpoint('tablet')) {
    width: 100%;
  }
}

.slider--home-block {
  @media screen and (min-width: breakpoint('desktop')) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 2rem;
  }
}

.slider--home-block .home-block {
  max-width: none;
}


.home-block--data {
  @media screen and (min-width: breakpoint('tablet')) {
    flex-direction: row;
  }
}

.home-block--data img {
  align-self: center;
  margin-bottom: 1em;

  @media screen and (min-width: breakpoint('tablet')) {
    width: 14rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    width: auto;
  }
}

.home-block__text {
  @media screen and (min-width: breakpoint('tablet')) {
    margin-left: 1rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    margin-left: 3rem;
  }
}

.home-block--research,
.home-block-inspire,
.home-block-news {
  max-width: 34.3em;
  margin: 0 auto 4rem;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: none;
  }
}

.home-block--research section,
.home-block-inspire section {
  padding: 0.062em;

  @media screen and (min-width: breakpoint('desktop')) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.home-block--research .home-block {
  @media screen and (min-width: breakpoint('tablet')) {
    margin-right: 0;
    margin-left: 0;
  }
}

.home-block--research h1 {
  margin: 0;
  color: palette('orange');
}

.home-block-inspire {
  display: flex;
  flex-direction: column;
  max-width: 34.3em;
  margin: 0 auto 4rem;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: none;
  }
}

.home-block-inspire h1 {
  margin: 0;
}

.home-block-inspire h2 span {
  font-size: ms(-3);
  vertical-align: baseline;
}

.home-block-inspire img {
  margin-bottom: 1em;
  border-radius: 10px;
}


.home-block-news__content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: breakpoint('tablet')) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.home-block-news h1 {
  text-shadow: none;
  color: palette('blue');
}

.home-block-news .button {
  align-self: right;
}
