.posts {
  @media screen and (min-width: breakpoint('tablet')) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
}

.posts__post {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(100% / 3);
    padding: 0 1rem;
  }
}

.posts__title {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 100;
  font-size: ms(3);
}

.posts__tags {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  list-style: none;
}

.posts__tags li {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0.5rem;
  border-bottom: 0;
}

.posts__tags a {
  font-style: italic;
  text-decoration: underline;
  color: palette('black', 'lighter');
}

.posts__image {
  margin-bottom: 2rem;
  line-height: 0;
  text-align: center;
  background: palette('gray', 'light');
}

.posts__text {
  margin-bottom: 2.5rem;
}

.posts__text time {
  display: block;
  font-size: ms(-1);
}

.posts .button {
  align-self: flex-start;
}

