.tags {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

.tags li {
  padding-bottom: 0;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  list-style: none;
  border-bottom: 0;

  &::first-child {
    margin-left: 0;
  }
}

.tags a {
  display: block;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 8px 21px -3px palette('shadow', 'light');
}

.tags .active {
  color: palette('white');
  background: palette('blue', 'dark');
}
