footer {
  font-family: $roboto-font-stack;
  background: palette('red');
}

.footer__content {
  @include container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .logo {
  display: block;

  width: 4.7em;

  padding-bottom: 0.5em;
  margin-left: auto;

  font-size: 1.6em;
  line-height: 0.7;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: -2.2px;

  text-align: right;
  text-transform: lowercase;

  color: palette('white');

  i {
    display: block;

    letter-spacing: -4.3px;

    text-align: left;
  }
}

.setubal-logo {
  display: block;

  width: 5.7em;
  height: 3.45em;

  text-indent: -999em;

  background-image: image('logo-tide-setubal.svg');
  background-repeat: no-repeat;
}

footer nav ul {
  padding: 0;
}

footer li {
  margin-bottom: 0.6em;
  list-style: none;
}

footer nav li a:link {
  margin-bottom: 0.5em;
  text-decoration: none;
  color: palette('white');
}

.disclaimer,
.by {
  width: 100%;
  font-size: ms(-1);
  text-align: center;
  color: palette('white');
}

.by {
  font-size: ms(-2);
}

.by a:link {
  color: palette('white');
}

.social {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.social li {
  display: inline-block;
  margin: 0 0.625rem;
}

.social a:link {
  font-size: ms(-2);
  color: palette('white');
}

.social .twitter {

}

.social .facebook {

}

.social .youtube {

}
