    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--blue-light page-title--no-icon">
        <div class="container">
          <h1>Novidades</h1>
        </div>
      </section>


      <div class="container container--small">
        <ul class="tags">
          <!-- Set tags limit for loop -->
          {{- $.Scratch.Set "myLimit" 0 }}

          <li>
            <a class="shadow {{ if eq .Page.RelPermalink "/novidades/" }} active {{ end }}" href="/novidades">
              todas
            </a>
          </li>

          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{- $.Scratch.Set "myLimit" (add ($.Scratch.Get "myLimit") 1) }}
            {{- if le ($.Scratch.Get "myLimit") (6) }}
              <li><a class="shadow" href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <!--
        here we get the current post "index" by looping through all posts, reversing it's order
        and checking if the post is the one being showed, if it is we set assing it to the currentItem
        variable and add one 'cause the range index is zero base
      -->
      {{ range $index, $element := (where .Site.RegularPages "Type" "novidades" ).Reverse }}
        {{ if eq . $ }}
          {{- $.Scratch.Set "currentItem" (add $index 1) }}
        {{ end }}
      {{end}}

      <div class="container container--small">
        <div class="page-navigation">
          <!-- Get all posts, count and save the variable -->
          {{ $posts := (where .Site.RegularPages "Section" "==" "novidades") }}
          {{ $postCount := len $posts }}

          {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}" class="page-navigation__prev">Novidade anterior</a>
          {{ else }}
            <a href="" disabled class="page-navigation__prev">Novidade anterior</a>
          {{ end }}

          <div class="page-navigation__counter">
            {{ $.Scratch.Get "currentItem" }}/{{ $postCount }}
          </div>

          {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}" class="page-navigation__next">Próxima novidade</a>
          {{ else }}
            <a href="" disabled class="page-navigation__next">Próxima novidade</a>
          {{ end }}
        </div>

        <h2>{{ .Title }}</h2>

        <div class="posts posts--details">
            <section class="posts__post">
              <ul class="posts__tags">
                {{ range .Params.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
              </ul>

              <!-- Save post title for use in image alt -->
              {{ $title := .Title }}

              {{ if .Params.image }}
                <div class="posts__image">
                    <!-- sizes="(max&#45;width: 320px) 280px, 800px" -->
                  <img
                    srcset="
                      {{ with .Params.image }} {{ . }} 600w, {{ end }}
                      {{ with .Params.image_big }} {{ . }} 1000w {{ end }}
                      "
                    src="{{ .Params.image }}"
                    alt="{{ $title }}">
                </div>
              {{ end }}

              <div class="posts__text">
                <p>{{ .Params.short_description }}</p>
                <time datetime="{{ .Date.Format "02/01/2006 - 15:04" }}">
                  {{ .Date.Format "02/01/2006 - 15:04" }}
                </time>
              </div>

              <div class="posts__end">
                <a href="" class="posts__back js-go-back">Voltar</a>
                <a href="#" class="to-top">Subir ao topo</a>
              </div>
            </section>
        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
