<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link rel="icon" href="/favicon.ico">
    <title>tide</title>

    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>

      <div class="bg-light-gray">
        <div class="container">
          <form action="" method="post" id="js-chart-form" class="chart-form">
            <div class="chart-form__group--inline">
              <label for="grade">
                Série
                <select name="grade" id="grade">
                  <option value="5">5</option>
                  <option value="9">9</option>
                </select>
              </label>
              <label for="city">
                Município
                <input type="text" name="city" id="city" placeholder="Ex. São Paulo">
              </label>
            </div>
            <div class="chart-form__group">
              <label for="x">
                Comparar por
                <select name="x" id="x">
                  <option value="sex">Sexo (Meninas - Meninos)</option>
                  <option value="ethnicity">Etinia</option>
                  <option value="nse">Nível Sócio Econômico</option>
                </select>
              </label>
              <label for="subgrupo">
                Subgrupo
                <select name="subgrupo" id="subgrupo">
                  <option value="population">Arranjo Populacional</option>
                  <option value="population">Arranjo Populacional</option>
                  <option value="population">Arranjo Populacional</option>
                </select>
              </label>
            </div>
            <div class="chart-form__group">
              <label for="region">
                Região Brasileira
                <select name="region" id="region">
                  <option value="centro-oeste">Centro-Oeste</option>
                  <option value="sul">Sul</option>
                  <option value="norte">Norte</option>
                </select>
              </label>
              <label for="region">
                Destacar
                <select name="highlight" id="highlight">
                  <option value="big-cities">Cidades Grandes</option>
                  <option value="capital">Capitais</option>
                </select>
              </label>
            </div>
            <button type="submit" class="button">Filtrar</button>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="charts">
          <section class="chart">
            <div class="chart__header">
              <h1>Português</h1>
              <div class="chart__buttons">
                <button class="js-download-pt-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-pt-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-pt-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="pt-chart"></div>
            <div class="chart__table">
              <h2>Pedra Azul &middot; MG</h2>
              <table>
                <tbody>
                  <tr>
                    <td>Português | Raça</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Português</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td>4455</td>
                  </tr>
                  <tr>
                    <td>nPreto</td>
                    <td>299</td>
                  </tr>
                  <tr>
                    <td>nBranco</td>
                    <td>2014</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="chart">
            <div class="chart__header">
              <h1>Matemática</h1>
              <div class="chart__buttons">
                <button class="js-download-mat-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-mat-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-mat-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="mat-chart"></div>
            <div class="chart__table">
              <h2>Pedra Azul &middot; MG</h2>
              <table>
                <tbody>
                  <tr>
                    <td>Português | Raça</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Português</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td>4455</td>
                  </tr>
                  <tr>
                    <td>nPreto</td>
                    <td>299</td>
                  </tr>
                  <tr>
                    <td>nBranco</td>
                    <td>2014</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </div>

      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>

      <script type="text/javascript">
        Highcharts.setOptions({
          lang: {
            printChart: 'Imprimir gráfico',
            resetZoom: 'Resetar zoom',
          },
          tooltip: {
            formatter: function() {
              return this.point.options.city;
            }
          }
        });

        populateChartData();

        //Filter charts
        document.getElementById('js-chart-form').addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(event.target);
          const grade = formData.get('grade');
          populateChartData(grade);
        });

        //Download charts
        document.querySelector('.js-download-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          ptChart.exportChart({
            type: 'application/pdf',
            filename: 'Português'
          });
        })

        document.querySelector('.js-download-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          matChart.exportChart({
            type: 'application/pdf',
            filename: 'Matemática'
          });
        })

        //Expand and shrink pt charts
        document.querySelector('.js-expand-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');
          const chartContainer = chartDom.closest('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.add('hidden');
          });

          chartContainer.classList.add('expanded');
          chartContainer.classList.remove('hidden');

          chartContainer.addEventListener('transitionend', (event) => {
            ptChart.reflow();
          }, false);
        });

        document.querySelector('.js-shrink-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.remove('hidden');
          });

          chartDom.closest('.chart').classList.remove('expanded');
          ptChart.reflow();
        })


        //Expand and shrink mat charts
        document.querySelector('.js-expand-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');
          const chartContainer = chartDom.closest('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.add('hidden');
          });

          chartContainer.classList.add('expanded');
          chartContainer.classList.remove('hidden');

          chartContainer.addEventListener('transitionend', (event) => {
            matChart.reflow();
          }, false);
        });

        document.querySelector('.js-shrink-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.remove('hidden');
          });

          chartDom.closest('.chart').classList.remove('expanded');
          matChart.reflow();
        })

        function drawPtChart(data) {
          return Highcharts.chart('pt-chart', {
            chart: {
              type: 'scatter',
              zoomType: 'xy'
            },
            credits: false,
            legend: {
              enabled: false
            },
            turboThreshold: 0,
            title: { text: '' },
            subtitle: '',
            xAxis: {
              title: {
                enabled: true,
                text: 'Português | Raça [Desigualdade]'
              },
              max: 2,
              min: -2,
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true,
              plotLines:[{
                value: 0,
                color:'#e6e6e6',
                dashStyle: 'solid',
                width:1,
              }],
            },
            yAxis: {
              title: { text: 'Português [Nível de aprendizado]' },
              lineWidth: 1,
              gridZIndex: 0,
              max: 2,
              min: -2,
              plotLines:[{
                value: 0,
                color: '#666',
                dashStyle: 'solid',
                width: 1,
              }],
            },
            plotOptions: {
              scatter: {
                marker: {
                  radius: 5,
                  states: {
                    hover: {
                      enabled: true,
                      lineColor: 'rgb(100,100,100)'
                    }
                  }
                },
                states: {
                  hover: {
                    marker: {
                      enabled: false
                    }
                  }
                },
                tooltip: {
                  headerFormat: 'Cidade: <b>{point.options.city}</b>',
                }
              },
              series:{
                turboThreshold: 0
              },
            },
            series: [{
              data: data,
            }]
          });
        }

        function drawMatChart(data) {
          Highcharts.chart('mat-chart', {
            chart: {
              type: 'scatter',
              zoomType: 'xy'
            },
            credits: false,
            legend: {
              enabled: false
            },
            turboThreshold: 0,
            title: { text: '' },
            subtitle: '',
            xAxis: {
              title: {
                enabled: true,
                text: 'Português | Raça [Desigualdade]'
              },
              max: 2,
              min: -2,
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true,
              plotLines:[{
                value: 0,
                color:'#e6e6e6',
                dashStyle: 'solid',
                width:1,
              }],
            },
            yAxis: {
              title: { text: 'Português [Nível de aprendizado]' },
              lineWidth: 1,
              gridZIndex: 0,
              max: 2,
              min: -2,
              plotLines:[{
                value: 0,
                color: '#666',
                dashStyle: 'solid',
                width: 1,
              }],
            },
            plotOptions: {
              scatter: {
                marker: {
                  radius: 5,
                  states: {
                    hover: {
                      enabled: true,
                      lineColor: 'rgb(100,100,100)'
                    }
                  }
                },
                states: {
                  hover: {
                    marker: {
                      enabled: false
                    }
                  }
                },
                tooltip: {
                  headerFormat: 'Cidade: <b>{point.options.city}</b>',
                }
              },
              series:{
                turboThreshold: 0
              },
            },
            series: [{
              data: data,
            }]
          });
        }

        async function populateChartData(grade) {
          try {
            const chartData = await getChartData(grade);
            const ptItems = chartData.filter(item => item.subject === 'Português');
            const matItems = chartData.filter(item => item.subject === 'Matemática');

            formatedPtItems = Object.keys(ptItems).map(function (item) {
              return {
                x: Number(ptItems[item].x),
                y: Number(ptItems[item].y),
                city: ptItems[item].city.name,
              }
            });

            formatedMatItems = Object.keys(matItems).map(function (item) {
              return {
                x: Number(matItems[item].x),
                y: Number(matItems[item].y),
                city: matItems[item].city.name,
              }
            });

            drawPtChart(formatedPtItems);
            drawMatChart(formatedMatItems);
          } catch (err) {
            console.log(err);
          }
        };

        function getChartData(grade, xAxis) {
          grade = grade || 5;
          xAxis = xAxis || 'racial';
          const url = `https:\/\/dapitide.eokoe.com/api/data?school_grade=${grade}&x=${xAxis}`

          return axios.get(url)
            .then(response => {
              data = response.data.data;
              return data;
            });
        }


      </script>

    </body>
</html>
