<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link rel="icon" href="/favicon.ico">
    <title>tide</title>

    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>

      <div class="bg-light-gray">
        <div class="container">
          <form action="" method="post" class="chart-form">
            <div class="chart-form__group--inline">
              <label for="grade">
                Série
                <select name="grade" id="grade">
                  <option value="5">5</option>
                  <option value="8">8</option>
                </select>
              </label>
              <label for="city">
                Município
                <input type="text" name="city" id="city" placeholder="Ex. São Paulo">
              </label>
            </div>
            <div class="chart-form__group">
              <label for="x">
                Comparar por
                <select name="x" id="x">
                  <option value="sex">Sexo (Meninas - Meninos)</option>
                  <option value="ethnicity">Etinia</option>
                  <option value="nse">Nível Sócio Econômico</option>
                </select>
              </label>
              <label for="subgrupo">
                Subgrupo
                <select name="subgrupo" id="subgrupo">
                  <option value="population">Arranjo Populacional</option>
                  <option value="population">Arranjo Populacional</option>
                  <option value="population">Arranjo Populacional</option>
                </select>
              </label>
            </div>
            <div class="chart-form__group">
              <label for="region">
                Região Brasileira
                <select name="region" id="region">
                  <option value="centro-oeste">Centro-Oeste</option>
                  <option value="sul">Sul</option>
                  <option value="norte">Norte</option>
                </select>
              </label>
              <label for="region">
                Destacar
                <select name="highlight" id="highlight">
                  <option value="big-cities">Cidades Grandes</option>
                  <option value="capital">Capitais</option>
                </select>
              </label>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="charts">
          <section class="chart">
            <div class="chart__header">
              <h1>Português</h1>
              <div class="chart__buttons">
                <button class="js-download-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-chart chart__button chart__button--expand">Download do gráfico</button>
                <button class="js-shrink-chart chart__button chart__button--shrink">Download do gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="pt-chart"></div>
            <div class="chart__table">
              <h2>Pedra Azul &middot; MG</h2>
              <table>
                <tbody>
                  <tr>
                    <td>Português | Raça</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Português</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td>4455</td>
                  </tr>
                  <tr>
                    <td>nPreto</td>
                    <td>299</td>
                  </tr>
                  <tr>
                    <td>nBranco</td>
                    <td>2014</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="chart">
            <div class="chart__header">
              <h1>Matemática</h1>
              <div class="chart__buttons">
                <button class="chart__button chart__button--download">Download do gráfico</button>
                <button class="chart__button chart__button--expand">Download do gráfico</button>
                <button class="chart__button chart__button--shrink">Download do gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="mat-chart"></div>
            <div class="chart__table">
              <h2>Pedra Azul &middot; MG</h2>
              <table>
                <tbody>
                  <tr>
                    <td>Português | Raça</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Português</td>
                    <td>-0.19</td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td>4455</td>
                  </tr>
                  <tr>
                    <td>nPreto</td>
                    <td>299</td>
                  </tr>
                  <tr>
                    <td>nBranco</td>
                    <td>2014</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </div>

      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        // google.charts.setOnLoadCallback(drawPtChart);
        // google.charts.setOnLoadCallback(drawMatChart);

        (async () => {
          try {
            const chartData = await getChartData();
            google.charts.setOnLoadCallback(drawPtChart(chartData));
            google.charts.setOnLoadCallback(drawMatChart(chartData));
          } catch (err) {
            console.log(err);
          }
        })();

        function drawPtChart(chartData) {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Português | Raça [Desigualdade]');
          data.addColumn('number', 'Português [Nível de aprendizado]');
          data.addColumn({type: 'string', role: 'tooltip'});

          var items = chartData.filter(item => item.subject === 'Português');
          formatedItems = items.map(item => [Number(item.x) , Number(item.y), item.city.name])
          data.addRows(formatedItems)

          var options = {
            theme: 'material',
            width: '100%',
            chartArea:{
              left: 20,
              top: 10,
              width: '90%',
              height: '350',
            },
            colors: ['#63c'],
            explorer: {
              actions: ['dragToZoom', 'rightClickToReset'],
              axis: 'horizontal',
              keepInBounds: true
            },
            legend: 'none',
            chart: {
              title: 'tide',
              subtitle: 'plot'
            },
            explorer: {},
            hAxis: { title: 'Português | Raça [Desigualdade]', minValue: -2, maxValue: 2 },
            vAxis: { title: 'Português [Nível de aprendizado]', minValue: -2, maxValue: 2 },
          };


          const chart = new google.visualization.ScatterChart(document.getElementById('pt-chart'));

          chart.draw(data, options);
        }

        function drawMatChart(chartData) {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Português | Raça [Desigualdade]');
          data.addColumn('number', 'Português [Nível de aprendizado]');
          data.addColumn({type: 'string', role: 'tooltip'});

          var items = chartData.filter(item => item.subject === 'Matemática');
          formatedItems = items.map(item => [Number(item.x) , Number(item.y), item.city.name])
          data.addRows(formatedItems)

          var options = {
            theme: 'material',
            width: '100%',
            chartArea:{
              left: 20,
              top: 10,
              width: '90%',
              height: '350',
            },
            colors: ['#63c'],
            explorer: {
              actions: ['dragToZoom', 'rightClickToReset'],
              axis: 'horizontal',
              keepInBounds: true
            },
            legend: 'none',
            chart: {
              title: 'tide',
              subtitle: 'plot'
            },
            explorer: {},
            hAxis: { title: 'Português | Raça [Desigualdade]', minValue: -2, maxValue: 2 },
            vAxis: { title: 'Português [Nível de aprendizado]', minValue: -2, maxValue: 2 },
          };


          const chart = new google.visualization.ScatterChart(document.getElementById('mat-chart'));

          chart.draw(data, options);
        }

        function getChartData(grade, xAxis) {
          grade = grade || 5;
          xAxis = xAxis || 'racial';
          const url = `https:\/\/dapitide.eokoe.com/api/data?school_grade=${grade}&x=${xAxis}`

          return axios.get(url)
            .then(response => {
              data = response.data.data;
              return data;
            });
        }


      </script>

    </body>
</html>
