<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link rel="icon" href="/favicon.ico">
    <title>tide</title>

    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow">
        <div class="container">
          <h1>{{ .Title }}</h1>
        </div>
      </section>

      <div class="bg-light-gray">
        <div class="container">
          <form action="" method="post" id="js-chart-form" class="chart-form">
            <div class="chart-form__group--inline">
              <label for="grade">
                Série
                <select name="grade" id="grade">
                  <option value="5">5</option>
                  <option value="9">9</option>
                </select>
              </label>
              <label for="x">
                Comparar por
                <select name="xAxis" id="xAxis">
                  <option value="racial">Etnia</option>
                  <option value="sex">Sexo (Meninas - Meninos)</option>
                  <option value="nse">Nível Sócio Econômico</option>
                </select>
              </label>
              <div class="chart-form__buttons">
                <button type="submit" class="button">Filtrar</button>
                <span class="js-no-matches chart-form__alert" hidden>Nenhum dado encontrado para essa cidade!</span>
              </div>
            </div>
            <div class="chart-form__group">
              <label for="region">
                Região Brasileira
                <select name="region" id="region">
                  <option value="">Nenhuma</option>
                  <option value="1">Centro Oeste</option>
                  <option value="2">Nordeste</option>
                  <option value="3">Norte</option>
                  <option value="4">Sudeste</option>
                  <option value="5">Sul</option>
                </select>
              </label>
              <label for="region">
                Destacar Cidades
                <select name="highlight" id="highlight">
                  <option value="none">Nenhuma</option>
                  <option value="big-cities">Cidades Grandes</option>
                  <option value="capital">Capitais</option>
                </select>
              </label>
              <label for="city">
                Município
                <input id="city" placeholder="Ex. São Paulo" />
              </label>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="charts">
          <section class="chart">
            <div class="chart__header">
              <h1>Português</h1>
              <div class="chart__buttons">
                <button class="js-download-pt-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-pt-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-pt-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="pt-chart"></div>
            <div class="js-pt-table chart__table">
              <h2></h2>
              <table>
                <tbody>
                  <tr>
                    <td>Português | <span class="js-xAxis-text"></span></td>
                    <td class="js-xAxis"></td>
                  </tr>
                  <tr>
                    <td>Português</td>
                    <td class="js-yAxis"></td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td class="js-total-students"></td>
                  </tr>
                  <tr>
                    <td class="js-unprivileged-title"></td>
                    <td class="js-unprivileged-value"></td>
                  </tr>
                  <tr>
                    <td class="js-privileged-title"></td>
                    <td class="js-privileged-value"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <section class="chart">
            <div class="chart__header">
              <h1>Matemática</h1>
              <div class="chart__buttons">
                <button class="js-download-mat-chart chart__button chart__button--download">Download do gráfico</button>
                <button class="js-expand-mat-chart chart__button chart__button--expand">Expandir gráfico</button>
                <button class="js-shrink-mat-chart chart__button chart__button--shrink">Reduzir gráfico</button>
              </div>
            </div>
            <div class="chart__main" id="mat-chart"></div>
            <div class="js-mat-table chart__table">
              <h2>Pedra Azul &middot; MG</h2>
              <table>
                <tbody>
                  <tr>
                    <td>Matemática | <span class="js-xAxis-text"></span></td>
                    <td class="js-xAxis"></td>
                  </tr>
                  <tr>
                    <td>Matemática</td>
                    <td class="js-yAxis"></td>
                  </tr>
                  <tr>
                    <td>Número de alunos</td>
                    <td class="js-total-students"></td>
                  </tr>
                  <tr>
                    <td class="js-unprivileged-title"></td>
                    <td class="js-unprivileged-value"></td>
                  </tr>
                  <tr>
                    <td class="js-privileged-title"></td>
                    <td class="js-privileged-value"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </div>

      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.base.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.theme.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.min.js"></script>

      <script type="text/javascript">
        let data;
        let xAxis;
        let xAxisText

        Highcharts.setOptions({
          lang: {
            printChart: 'Imprimir gráfico',
            resetZoom: 'Resetar zoom',
          },
          tooltip: {
            formatter: function() {
              return `${this.point.options.city} - ${this.point.options.state}`;
            }
          }
        });

        populateChartData();
        populateCitiesList();

        async function populateCitiesList() {
          const citiesList = document.getElementById('cities-list');
          const cities = await getCities();
          cityNames = cities.map(function(city) {
            return { label: `${city.name} - ${city.state.name}`, value: city.id }
          });

          const awesomplete = new Awesomplete(document.querySelector('#city'), {
            nChars: 1,
            maxItems: 5,
            autoFirst: true,
            replace: function (suggestion) {
              this.input.value = suggestion.label;
            },
          });
          awesomplete.list = cityNames;
        }

        document.getElementById('city').addEventListener('input', function(event){
          hideNoMatchesAlert();
        }, false);

        document.getElementById('city').addEventListener('awesomplete-selectcomplete', function(event){
          highlightPoint(event.text.value)
          updateTableInfo(event.text.value);
        }, false);

        document.getElementById('highlight').addEventListener('change', function(event){
          highlightPoints(event.target.value)
        }, false);

        document.getElementById('region').addEventListener('change', function(event){
          highlightPoints('region', event.target.value)
        }, false);

        function hideNoMatchesAlert(){
          document.querySelector('.js-no-matches').setAttribute('hidden', true);
        }

        function showNoMatchesAlert(){
          document.querySelector('.js-no-matches').removeAttribute('hidden');
        }

        //Highlight city
        function highlightPoint(id) {
          const ptChartDom = document.getElementById('pt-chart');
          const matChartDom = document.getElementById('mat-chart');
          const ptChart = Highcharts.charts[Highcharts.attr(ptChartDom, 'data-highcharts-chart')]
          const matChart = Highcharts.charts[Highcharts.attr(matChartDom, 'data-highcharts-chart')]

          const ptPoint = ptChart.get(id);
          const matPoint = matChart.get(id);

          if(ptPoint === undefined || matPoint === undefined) {
            return showNoMatchesAlert();
          }

          ptPoint.graphic.toFront();
          ptPoint.select();

          matPoint.graphic.toFront();
          matPoint.select();
        }

        //Filter charts
        document.getElementById('js-chart-form').addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(event.target);
          const payload = {};

          payload.grade = formData.get('grade');
          payload.xAxis = formData.get('xAxis');

          toggleLoading();
          populateChartData(payload);
          toggleLoading();
        });

        function highlightPoints(parameter, value) {
          const ptChartDom = document.getElementById('pt-chart');
          const matChartDom = document.getElementById('mat-chart');
          const ptChart = Highcharts.charts[Highcharts.attr(ptChartDom, 'data-highcharts-chart')]
          const matChart = Highcharts.charts[Highcharts.attr(matChartDom, 'data-highcharts-chart')]

          clearHighlightedPoints();

          if(parameter === 'big-cities') {
            ptChart.series[0].points.forEach((point) => {
              if(point.options.is_big_town === 1) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });

            matChart.series[0].points.forEach((point) => {
              if(point.options.is_big_town === 1) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });
          }

          if(parameter === 'capital') {
            ptChart.series[0].points.forEach((point) => {
              if(point.options.is_capital === 1) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });

            matChart.series[0].points.forEach((point) => {
              if(point.options.is_capital === 1) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });
          }

          if(parameter === 'region') {
            ptChart.series[0].points.forEach((point) => {
              console.log(point.options.region);
              console.log(value);
              if(point.options.region === Number(value)) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });

            matChart.series[0].points.forEach((point) => {
              if(point.options.region === Number(value)) {
                point.select(true, true)
                point.graphic.toFront();
              }
            });
          }

          if(parameter === 'none') {
            clearHighlightedPoints();
          }

        }

        function clearHighlightedPoints() {
          const ptChartDom = document.getElementById('pt-chart');
          const matChartDom = document.getElementById('mat-chart');
          const ptChart = Highcharts.charts[Highcharts.attr(ptChartDom, 'data-highcharts-chart')]
          const matChart = Highcharts.charts[Highcharts.attr(matChartDom, 'data-highcharts-chart')]
          const selectedPtPoints = ptChart.getSelectedPoints();
          const selectedMatPoints = matChart.getSelectedPoints();

          if (selectedPtPoints[0]) {
            selectedPtPoints[0].select();
            selectedMatPoints[0].select();
          }
        }

        // function highlightRegion(region) {
        //   console.log(data);
        //   console.log(region);
        //
        //   const ptItems = data.filter(item => item.city.is_capital === 1);
        //   const matItems = data.filter(item => item.city.is_capital === 1);
        //
        //   formatedPtItems = Object.keys(ptItems).map(function (item) {
        //     return {
        //       x: Number(ptItems[item].x),
        //       y: Number(ptItems[item].y),
        //       id: Number(ptItems[item].city.id),
        //       city: ptItems[item].city.name,
        //     }
        //   });
        //
        //     formatedMatItems = Object.keys(matItems).map(function (item) {
        //       return {
        //         x: Number(matItems[item].x),
        //         y: Number(matItems[item].y),
        //         id: Number(matItems[item].city.id),
        //         city: matItems[item].city.name,
        //       }
        //     });
        //
        //   drawPtChart(formatedPtItems);
        //   drawMatChart(formatedMatItems);
        // }

        //Download charts
        document.querySelector('.js-download-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          ptChart.exportChart({
            type: 'application/pdf',
            filename: 'Português'
          });
        })

        document.querySelector('.js-download-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          matChart.exportChart({
            type: 'application/pdf',
            filename: 'Matemática'
          });
        })

        //Expand and shrink pt charts
        document.querySelector('.js-expand-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');
          const chartContainer = chartDom.closest('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.add('hidden');
          });

          chartContainer.classList.add('expanded');
          chartContainer.classList.remove('hidden');

          chartContainer.addEventListener('transitionend', (event) => {
            ptChart.reflow();
          }, false);
        });

        document.querySelector('.js-shrink-pt-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('pt-chart');
          let ptChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.remove('hidden');
          });

          chartDom.closest('.chart').classList.remove('expanded');
          ptChart.reflow();
        })


        //Expand and shrink mat charts
        document.querySelector('.js-expand-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');
          const chartContainer = chartDom.closest('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.add('hidden');
          });

          chartContainer.classList.add('expanded');
          chartContainer.classList.remove('hidden');

          chartContainer.addEventListener('transitionend', (event) => {
            matChart.reflow();
          }, false);
        });

        document.querySelector('.js-shrink-mat-chart').addEventListener('click', () => {
          let chartDom = document.getElementById('mat-chart');
          let matChart = Highcharts.charts[Highcharts.attr(chartDom, 'data-highcharts-chart')]
          const charts = document.querySelectorAll('.chart');

          Array.prototype.forEach.call(charts, (chart) => {
            chart.classList.remove('hidden');
          });

          chartDom.closest('.chart').classList.remove('expanded');
          matChart.reflow();
        })

        function drawPtChart(data) {
          return Highcharts.chart('pt-chart', {
            chart: {
              type: 'scatter',
              zoomType: 'xy'
            },
            credits: false,
            legend: {
              enabled: false
            },
            turboThreshold: 0,
            title: { text: '' },
            subtitle: '',
            xAxis: {
              title: {
                enabled: true,
                text: `${xAxisText} | [Desigualdade]`
              },
              // max: 2,
              // min: -2,
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true,
              plotLines:[{
                value: 0,
                color:'#e6e6e6',
                dashStyle: 'solid',
                width:1,
              }],
            },
            yAxis: {
              title: { text: `Português | [Nível de aprendizado]` },
              lineWidth: 1,
              gridZIndex: 0,
              // max: 2,
              // min: -2,
              // plotLines:[{
              //   value: 0,
              //   color: '#666',
              //   dashStyle: 'solid',
              //   width: 1,
              // }],
            },
            plotOptions: {
              scatter: {
                marker: {
                  radius: 5,
                  states: {
                    hover: {
                      enabled: true,
                      lineColor: 'rgb(100,100,100)'
                    }
                  }
                },
                states: {
                  hover: {
                    marker: {
                      enabled: false
                    }
                  }
                },
                tooltip: {
                  headerFormat: 'Cidade: <b>{point.options.city}</b>',
                },
              },
            },
            series: [{
              turboThreshold: 0,
              cursor: 'pointer',
              point: {
                events: {
                  click: function () {
                    highlightPoint(this.id);
                    updateTableInfo(this.id);
                  },
                },
              },
              data: data,
            }]
          });
        }

        function drawMatChart(data) {
          Highcharts.chart('mat-chart', {
            chart: {
              type: 'scatter',
              zoomType: 'xy'
            },
            credits: false,
            legend: {
              enabled: false
            },
            turboThreshold: 0,
            title: { text: '' },
            subtitle: '',
            xAxis: {
              title: {
                enabled: true,
                text: `${xAxisText} | [Desigualdade]`
              },
              // max: 2,
              // min: -2,
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true,
              plotLines:[{
                value: 0,
                color:'#e6e6e6',
                dashStyle: 'solid',
                width:1,
              }],
            },
            yAxis: {
              title: { text: `Matemática | [Nível de aprendizado]` },
              lineWidth: 1,
              gridZIndex: 0,
              // max: 2,
              // min: -2,
              plotLines:[{
                value: 0,
                color: '#666',
                dashStyle: 'solid',
                width: 1,
              }],
            },
            plotOptions: {
              scatter: {
                marker: {
                  radius: 5,
                  states: {
                    hover: {
                      enabled: true,
                      lineColor: 'rgb(100,100,100)'
                    }
                  }
                },
                states: {
                  hover: {
                    marker: {
                      enabled: false
                    }
                  }
                },
              },
            },
            series: [{
              turboThreshold: 0,
              cursor: 'pointer',
              point: {
                events: {
                  click: function () {
                    highlightPoint(this.id);
                    updateTableInfo(this.id);
                  },
                },
              },
              data: data,
            }]
          });
        }

        function updateTableInfo(id) {
          const newInfo = getCityInfo(id);
          setCityInfo(newInfo);
        };

        function getCityInfo(id) {
          return data.filter((item) => item.city.id === id);
        };

        function setCityInfo(info) {
          const ptTable = document.querySelector('.js-pt-table');
          const matTable = document.querySelector('.js-mat-table');
          const ptInfo = info.find(item => item.subject === 'Português');
          const matInfo = info.find(item => item.subject === 'Matemática');

          if(ptInfo === undefined || matInfo === undefined) {
            return;
          }

          ptTable.getElementsByTagName('h2')[0].textContent = `${ptInfo.city.name} - ${ptInfo.state.uf}`;
          matTable.getElementsByTagName('h2')[0].textContent = `${matInfo.city.name} - ${matInfo.state.uf}`;


          if(xAxis === 'racial') {
            ptTable.querySelector('.js-unprivileged-title').textContent = 'Npretos';
            ptTable.querySelector('.js-unprivileged-value').textContent = ptInfo.count_first_group;

            ptTable.querySelector('.js-privileged-title').textContent = 'Nbrancos';
            ptTable.querySelector('.js-privileged-value').textContent = ptInfo.count_second_group;

            document.querySelectorAll('.js-xAxis-text').forEach(span => span.textContent = 'Raça');
          }

          if(xAxis === 'sex') {
            ptTable.querySelector('.js-unprivileged-title').textContent = 'Nmulheres';
            ptTable.querySelector('.js-unprivileged-value').textContent = ptInfo.count_first_group;

            ptTable.querySelector('.js-privileged-title').textContent = 'Nhomens';
            ptTable.querySelector('.js-privileged-value').textContent = ptInfo.count_second_group;

            document.querySelectorAll('.js-xAxis-text').forEach(span => span.textContent = 'Sexo');
          }

          if(xAxis === 'nse') {
            ptTable.querySelector('.js-unprivileged-title').textContent = 'nNSE1';
            ptTable.querySelector('.js-unprivileged-value').textContent = ptInfo.count_first_group;

            ptTable.querySelector('.js-privileged-title').textContent = 'nNSE5';
            ptTable.querySelector('.js-privileged-value').textContent = ptInfo.count_second_group;

            document.querySelectorAll('.js-xAxis-text').forEach(span => span.textContent = 'NSE');
          }

          ptTable.querySelector('.js-total-students').textContent = ptInfo.count_total;

          ptTable.querySelector('.js-xAxis').textContent = Number(ptInfo.x).toFixed(2);
          ptTable.querySelector('.js-yAxis').textContent = Number(ptInfo.y).toFixed(2);

          if(xAxis === 'racial') {
            matTable.querySelector('.js-unprivileged-title').textContent = 'Npretos';
            matTable.querySelector('.js-unprivileged-value').textContent = matInfo.count_first_group;

            matTable.querySelector('.js-privileged-title').textContent = 'Nbrancos';
            matTable.querySelector('.js-privileged-value').textContent = matInfo.count_second_group;

            matTable.querySelector('.js-xAxis-text').textContent = 'Raça';
          }

          if(xAxis === 'sex') {
            matTable.querySelector('.js-unprivileged-title').textContent = 'Nmulheres';
            matTable.querySelector('.js-unprivileged-value').textContent = matInfo.count_first_group;

            matTable.querySelector('.js-privileged-title').textContent = 'Nhomens';
            matTable.querySelector('.js-privileged-value').textContent = matInfo.count_second_group;

            matTable.querySelector('.js-xAxis-text').textContent = 'Sexo';
          }

          if(xAxis === 'nse') {
            matTable.querySelector('.js-unprivileged-title').textContent = 'nNSE1';
            matTable.querySelector('.js-unprivileged-value').textContent = matInfo.count_first_group;

            matTable.querySelector('.js-privileged-title').textContent = 'nNSE5';
            matTable.querySelector('.js-privileged-value').textContent = matInfo.count_second_group;

            matTable.querySelector('.js-xAxis-text').textContent = 'NSE';
          }

          matTable.querySelector('.js-total-students').textContent = matInfo.count_total;

          matTable.querySelector('.js-xAxis').textContent = Number(matInfo.x).toFixed(2);
          matTable.querySelector('.js-yAxis').textContent = Number(matInfo.y).toFixed(2);
        }

        function toggleLoading() {
          let isLoading = false;
          const ptChartDom = document.getElementById('pt-chart');
          const matChartDom = document.getElementById('mat-chart');
          const ptChart = Highcharts.charts[Highcharts.attr(ptChartDom, 'data-highcharts-chart')]
          const matChart = Highcharts.charts[Highcharts.attr(matChartDom, 'data-highcharts-chart')]

          if (!isLoading) {
            ptChart.showLoading();
            matChart.showLoading();
          } else {
            ptChart.hideLoading();
            matChart.hideLoading();
          }
          isLoading = !isLoading;
        }

        async function populateChartData(payload) {
          try {
            const chartData = await getChartData(payload);
            const ptItems = chartData.filter(item => item.subject === 'Português');
            const matItems = chartData.filter(item => item.subject === 'Matemática');

            formatedPtItems = Object.keys(ptItems).map(function (item) {
              return {
                x: Number(ptItems[item].x),
                y: Number(ptItems[item].y),
                id: Number(ptItems[item].city.id),
                city: ptItems[item].city.name,
                state: ptItems[item].state.uf,
                state_id: ptItems[item].state.id,
                region: ptItems[item].region.id,
                is_big_town: ptItems[item].city.is_big_town,
                is_capital: ptItems[item].city.is_capital,
              }
            });

            formatedMatItems = Object.keys(matItems).map(function (item) {
              return {
                x: Number(matItems[item].x),
                y: Number(matItems[item].y),
                id: Number(matItems[item].city.id),
                city: matItems[item].city.name,
                state: matItems[item].state.uf,
                state_id: ptItems[item].state.id,
                region: matItems[item].region.id,
                is_big_town: matItems[item].city.is_big_town,
                is_capital: matItems[item].city.is_capital,
              }
            });

            if(xAxis === 'racial') {
              xAxisText = 'Raça';
            }

            if(xAxis === 'sex') {
              xAxisText = 'Sexo';
            }

            if(xAxis === 'nse') {
              xAxisText = 'NSE';
            }

            drawPtChart(formatedPtItems);
            drawMatChart(formatedMatItems);

          } catch (err) {
            console.log(err);
            toggleLoading();
          }
        };

        function getChartData(payload) {
          if (payload === undefined) {
            payload = {
              grade: 5,
              xAxis: 'racial',
            }
          }

          url = `https:\/\/dapitide.eokoe.com/api/data?school_grade=${payload.grade}&x=${payload.xAxis}`
          xAxis = payload.xAxis;

          return axios.get(url)
            .then(response => {
              data = response.data.data;
              return data;
            });
        }

        function getCities() {
          const url = `https:\/\/dapitide.eokoe.com/api/cities`

          return axios.get(url)
            .then(response => {
              data = response.data.cities;
              return data;
            });
        }


      </script>

    </body>
</html>
