<div class="bg-alabaster">
  <form action="" method="post" id="contato" class="js-contato container">
    <h1>Contato</h1>
    <label for="name">
      <span>Nome: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="text" id="name" name="name" required>

    <label for="email">
      <span>Email: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="email" id="email" name="email" required>

    <label for="phone">
      <span>Telefone: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="tel" id="phone" name="phone" required>

    <label for="mensagem">
      <span>Mensagem: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <textarea name="message" id="message" required></textarea>
    <div id="js-response-message" class="response-message" hidden></div>
    <button type="submit" class="button--arrow-icon">enviar</button>
  </form>
</div>
