<div class="bg-alabaster">
  <form action="" method="post" id="contato">
    <h1>Contato</h1>
    <label for="name">
      <span>Nome: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="text" id="name" name="nome">

    <label for="email">
      <span>Email: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="text" id="email" name="email">

    <label for="phone">
      <span>Telefone: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <input type="phone" id="phone" name="email">

    <label for="mensagem">
      <span>Mensagem: </span>
      <strong><abbr title="Campo Obrigatório">*</abbr></strong>
    </label>
    <textarea name="message" id="message"></textarea>
    <button type="submit" class="button--arrow-icon">enviar</button>
  </form>
</div>
