<footer>
  <div class="footer__content">
    <h1 class="logo"><i>Edu</i>Quidade</h1>
    <a href="https://fundacaotidesetubal.org.br/" class="setubal-logo">Fundação Tide Setubal</a>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="pesquisa">Pesquisa</a></li>
        <li><a href="sobre">Sobre</a></li>
        <li><a href="biblioteca">Biblioteca</a></li>
        <li><a href="/#contato">Contato</a></li>
      </ul>
    </nav>
    <span class="disclaimer">Portal Tide Setubal &middot; Copyright &copy; 2018</span>
    <span class="by">Desenvolvido por <a href="https://appcivico.com">AppCívico</a></span>
    <ul class="social">
      <li>
        <a href="https://twitter.com" title="Twitter" class="twitter">
          {{ partial "svg/twitter.svg" (dict "class" "books-girl") }}
        </a>
      </li>
      <li>
        <a href="https://facebook.com" title="Facebook" class="facebook">
          {{ partial "svg/facebook.svg" }}
        </a>
      </li>
      <li>
        <a href="https://youtube.com" title="YouTube" class="youtube">
          {{ partial "svg/youtube.svg" }}
        </a>
      </li>
    </ul>
  </div>
</footer>
