<div class="header-bg">
  <header class="main-header {{ if not .IsHome }} intern-header {{ end }}">
    <h1 class="logo">IDeA</h1>
    <a href="https://fundacaotidesetubal.org.br/" class="setubal-logo">Fundação Tide Setubal</a>
    <nav class="main-nav">
      <button class="js-menu-toggle">Menu</button>
      <ul class="js-menu-list">
        {{ $firstUrlElement := print "/" (index (split .URL "/") 1)  }}

        {{ with .Site.Menus.header }}
          {{ range . }}
          <li>
            <a class="{{ if eq ($firstUrlElement|lower) .URL }} active {{end}}" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </header>
</div>
