<div class="header-bg">
  <header {{ if not .IsHome }} class="intern-header" {{ end }}>
    <h1 class="logo"><i>Edu</i>Quidade</h1>
    <a href="https://fundacaotidesetubal.org.br/" class="setubal-logo">Fundação Tide Setubal</a>
    <nav class="main-nav">
      <button class="js-menu-toggle">Menu</button>
      <ul class="js-menu-list">
        <li><a href="">Home</a></li>
        <li><a href="">Pesquisa</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Biblioteca</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </nav>
  </header>
</div>
