<div class="bg-white {{ if not .IsHome }}intern-bg-white {{ end }}">
  <section class="testimonials">
    <h4>Depoimentos</h4>
    <div class="slider">
      <blockquote>
        <div class="testimonials__content">
          <figure>
            <img src="https://placehold.it/295/295" alt="Maria Victoria Benevides.">
          </figure>
          <p class="testimonials__text">
            Proin nec dui id ipsum interdum convallis. Nam et tempus augue, dapibus imperdiet quam. Pellentesque tortor nisl, ornare et tristique at, vehicula vel tortor.
          </p>
          <footer><cite>Maria Victoria Benevides</cite></footer>
        </div>
      </blockquote>
      <blockquote>
        <div class="testimonials__content">
          <figure>
            <img src="https://placehold.it/432/432" alt="Maria Victoria Benevides.">
          </figure>
          <p class="testimonials__text">
            Proin nec dui id ipsum interdum convallis. Nam et tempus augue, dapibus imperdiet quam. Pellentesque tortor nisl, ornare et tristique at, vehicula vel tortor.
          </p>
          <footer><cite>Maria Victoria Benevides</cite></footer>
        </div>
      </blockquote>
      <blockquote>
        <div class="testimonials__content">
          <figure>
            <img src="https://placehold.it/295/295" alt="Maria Victoria Benevides.">
          </figure>
          <p class="testimonials__text">
            Proin nec dui id ipsum interdum convallis. Nam et tempus augue, dapibus imperdiet quam. Pellentesque tortor nisl, ornare et tristique at, vehicula vel tortor.
          </p>
          <footer><cite>Maria Victoria Benevides</cite></footer>
        </div>
      </blockquote>
    </div>
  </section>
</div>
