    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <div class="overflow">

        <div class="bg-red">
          <section class="hero-main">
            <div class="hero-main__text">
              <h1 class="h1">
                {{ .Title }}
              </h1>
              <p>
                {{ .Content }}
              </p>
            </div>

            <div class="hero-main__images">
              {{ partial "svg/books-girl.svg" (dict "class" "books-girl") }}
            </div>

            <div class="dots">
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
            </div>
          </section>
        </div>
        {{ range where .Site.Pages ".File.TranslationBaseName" "second" }}
        <div class="bg-yellow">
          <section class="hero-secondary">
            <div class="hero-secondary__text">
              <h2>{{ .Title }}</h2>
                {{ .Content }}

                {{ if .Params.callToActionUrl }}
                  <a href="{{ .Params.callToActionUrl }}" class="button button--black">
                    {{ .Params.callToActionText }}
                  </a>
                {{ end }}
            </div>

            <div class="hero-secondary__images">
              {{ partial "svg/mug.svg" (dict "class" "mug") }}
              {{ partial "svg/lader-boy.svg" (dict "class" "lader-boy") }}
            </div>

            <div class="dots">
              <i class="dots__dot"></i>
              <i class="dots__dot"></i>
            </div>
          </section>
        </div>
        {{ end }}

        {{ range where .Site.Pages ".File.TranslationBaseName" "third" }}
        <div class="bg-green">
          <section class="hero-tertiary">
            <div class="hero-tertiary__text">
              <h3>{{ .Title }}</h3>
              {{ .Content }}
              {{ if .Params.callToActionUrl }}
               <a href="{{ .Params.callToActionUrl }}" class="button button--white">
                 {{ .Params.callToActionText }}
                </a>
              {{ end }}
            </div>
            <div class="hero-tertiary__images">
              {{ partial "svg/girl-with-book.svg" (dict "class" "girl-with-book") }}
            </div>

            <div class="dots">
              <i class="dots__dot"></i>
            </div>
          </section>
        </div>
        {{ end }}
        {{ range where .Site.Pages ".File.TranslationBaseName" "fourth" }}
        <div class="bg-blue">
          <section class="hero-water">
            <div class="hero-water__text">
              <h3>{{ .Title }}</h3>
              {{ .Content }}
              {{ if and (.Params.callToActionUrl) (.Params.callToActionText) }}
                <a href="{{ .Params.callToActionUrl }}" class="button button--dark-blue">
                  {{ .Params.callToActionText }}
                </a>
              {{ end }}
            </div>
            <div class="hero-water__images">
              {{ partial "svg/book.svg" (dict "class" "book") }}
              {{ partial "svg/boat.svg" (dict "class" "boat") }}
              {{ partial "svg/book2.svg" (dict "class" "book2") }}
            </div>
          </section>
        </div>

        {{ end }}

        <div class="bg-white {{ if not .IsHome }}intern-bg-white {{ end }}">
          <div class="container">
            <section class="home-block home-block--data">
              <header>
                <h1>Dados</h1>
              </header>
              <img src="assets/images/data-home.png" alt="Grafico ilustrativo.">
              <div class="home-block__text">
                <p>Navegue pelos dados do IDeA</p>
                <a href="idea" class="button button--black">ver dados</a>
              </div>
            </section>
          </div>

          {{ partial "testimonials.html" . }}

          <div class="container">
            <div class="home-block home-block--research">
              <h1>Pesquisas</h1>
                <div class="slider slider--home-block" id="js-pesquisas">
                  <p class="js-loading-indicator">Carregando...</p>
                </div>
                <noscript>
                  <div class="slider slider--home-block">
                    {{ range first 2 (where .Site.RegularPages "Section" "pesquisas") }}
                      <section>
                        <header>
                          <h2>{{ .Title }}</h2>
                        </header>
                        <p>{{ .Params.short_description }}</p>
                        <a href="{{ .Params.file }}" class="button button--black">ler pesquisa</a>
                      </section>
                    {{ end }}
                  </div>
              </noscript>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="home-block-inspire">
            <h1>Inspire-se</h1>
            <div class="slider slider--home-block" id="js-inspire">
              <p class="js-loading-indicator">Carregando...</p>
            </div>
            <noscript>
              <div class="slider slider--home-block">
                {{ range first 3 (where .Site.RegularPages "Section" "inspirese") }}
                  <section>
                    <header>
                      <h2>{{ .Title }}<span>{{ .Params.author }}</span></h2>
                      <p>{{ .Params.short_description }}</p>
                    </header>
                    {{ if (isset .Params "image") }}
                    <img
                      srcset="{{ .Params.image }} 600w, {{ .Params.image_big }} 1000w"
                      src="{{ .Params.image }}" alt="{{ .Params.alt }}">
                    {{ end }}
                    <a href="{{.Params.file}}" class="button button--black" target="_blank">ler experiencia</a>
                  </section>
                {{ end }}
              </div>
            </noscript>
          </div>

          <div class="home-block home-block-news">
            <h1>Novidades</h1>
            <div class="slider slider--home-block" id="js-novidades">
              <p class="js-loading-indicator">Carregando...</p>
            </div>
            <noscript>
              <div class="slider slider--home-block">
                {{ range first 3 (where .Site.RegularPages "Section" "novidades") }}
                  <section>
                    <div class="home-block-news__content">
                      <header>
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Params.short_description }}</p>
                      </header>
                      <a href="{{ .Params.permalink}}" class="button button--arrow-icon">ver mais</a>
                    </div>
                  </section>
                {{ end }}
              </div>
            </noscript>
          </div>
        </div>

        {{ partial "contact.html" . }}

        <a href="#video"
           class="testimonials__video-link"
           data-micromodal-trigger="js-alala">
        </a>

        <div class="modal micromodal-slide" id="js-alala" aria-hidden="true">
          <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container modal__container--auto" role="dialog" aria-modal="true" aria-labelledby="js-modal-user-popup-title">
              <header class="modal__header">
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
              </header>
              <main id="js-modal-user-popup-content">
                <iframe class="modal__video" src="https://www.youtube-nocookie.com/embed/${videoId}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </main>
            </div>
          </div>
        </div>

      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
