    {{ partial "head.html" . }}

    <body>

      {{ partial "header.html" . }}

      <section class="page-title page-title--yellow page-title--no-icon">
        <div class="container">
          <h1>{{ .Title | humanize }}</h1>
        </div>
      </section>
      <div class="container">

        <ul class="tags tags--orange">
          <li>
            <a class="shadow" href="/pesquisas">
              Todos
            </a>
          </li>

          {{ range $name, $taxonomy := (index $.Site.Taxonomies $.Data.Plural) }}
            <li>
              <a class="shadow {{ if eq $.Data.Term $name }} active {{ end }}" href="/areas/{{ $name | urlize }}">
                {{ $name | humanize }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="container">
        <div class="posts">

          {{ range .Data.Pages }}
            <section class="posts__post">
              <h3 class="posts__title">{{ .Title }}</h3>
              <address class="posts__author">{{ .Params.author }}</address>

              <!-- Save post title for use in image alt -->
              {{ $title := .Title }}

              {{ with .Params.image }}
              <div class="posts__image">
                <img src="{{ . }}" alt="{{ $title }}">
              </div>
              {{ end }}

              <div class="posts__text">
                <p>{{ .Params.short_description }}</p>
              </div>

              <a href="{{ .Permalink }}" class="button button--black">saiba mais</a>
            </section>
          {{ end }}
        </div>
      </div>

      {{ partial "footer.html" . }}

      {{ $vendorJS := resources.Get "assets/scripts/vendor.js" }}
      {{ $secureVendorJS := $vendorJS | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureVendorJS.RelPermalink }}" integrity="{{ $secureVendorJS.Data.Integrity }}"></script>

      {{ $js := resources.Get "assets/scripts/index.js" }}
      {{ $secureJS := $js | resources.Minify | resources.Fingerprint "sha512" }}
      <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
